*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 100px;
    width: 100%;
    background-image: url('../img/pattern.png');
    background-color: lightskyblue;
}
img[src*="pattern.png"] {
    height: 100%;
}
img[src*="logo.svg"] {
    height: 100%;
    width: 15%;
}
.link {
    text-decoration: none;
}
.autore {
    color: grey;
}
#data {
    font-size: 10px;
}
.didascalia {
    font-size: 11px;
}
p {
    padding: 10px 0;
}
.highlight {
    background-color: yellow;
}
.title {
    background-color: rgb(0, 115, 255);
    color: white;
}
.sfondo-blu {
    background-color: aqua;
}
table {
    width: 100%;
    padding: 10px 0;
}
tr {
    height: 40px;
}
td {
    width: 30%;
}
.title {
    height: auto;
}
.footer-title {
    color: grey;
}
.footer-img {
    width: 300px;
    height: 200px;
    margin-top: 10px;
    color: white;
}
#one {
    background-image: url('../img/monitor.jpg');
}
#two {
    background-image: url('../img/graph.jpg');
}